/* Write your CSS here */
.main-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.list-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  width: 600px;
}

.repo-items-cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}
